<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contributor Dashboard - Image Bank App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/contrib-dashboard.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#" class="nav-link" data-target="home">Accueil</a></li>
        <li><a href="#" class="nav-link" data-target="{{ url_for('static', filename='/components/contrib/upload.html') }}">Charger Image</a></li>
        <li><a href="#" class="nav-link" data-target="{{ url_for('static', filename='/components/contrib/images.html') }}">Mes Images</a></li>
        <li><a href="#" class="nav-link" data-target="settings">Règlages</a></li>
        <li><form action="{{ url_for('contrib_bp.contrib-logout') }}"><button type="submit" class="btn waves-effect" class="nav-link">Déconnexion</a></form></li>
      </ul>
    </nav>
  </header>

  <div id="content" class="container">
    <!-- Dynamic content here -->
  </div>

  <div id="modal2" class="modal modal-delete">
    <div class="modal-content">
      <h4>Action</h4>
      <p>Voulez-vous supprimer l'image ?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat delete-confirm">Oui</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Non</a>
    </div>
  </div>

  <div id="modal1" class="modal modal-edit">
    <div class="modal-content">
        <form class="file-edit">
          <div class="input-field col s12">
            <textarea id="new-description" name="description" class="materialize-textarea"></textarea>
            <label for="textarea1">Description</label>
          </div>
          <button class="btn" id="submit-button" type="submit" style="cursor: pointer;">Edit</button>
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat edit-confirm">Fermer</a>
    </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/contrib-dashboard.js') }}">
    </script>
</body>
</html>
