<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contributor Dashboard - Image Bank App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css" integrity="sha512-qveKnGrvOChbSzAdtSs8p69eoLegyh+1hwOMbmpCViIwj7rn4oJjdmMvWOuyQlTOZgTlZA0N2PXA7iA8/2TUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/user-dashboard.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#" class="nav-link home" data-target="{{ url_for('static', filename='/components/user/accueil.html') }}">Accueil</a></li>
        <li><a href="#" class="nav-link" data-target="{{ url_for('static', filename='/components/user/images.html') }}">Mes Images</a></li>
        <li><a href="#" class="nav-link" data-target="settings">Règlages</a></li>
        <li><form action="{{ url_for('users_bp.user-logout') }}"><button type="submit" class="btn waves-effect" class="nav-link">Déconnexion</a></form></li>
      </ul>
    </nav>
  </header>

  <div id="content" class="container">
    <!-- Dynamic content here -->
  </div>

  <div id="modal1" class="modal modal-image">
    <div class="modal-content">
      <img style="display: none" id="previewImage" src="#" alt="Image Preview">
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat close-confirm">Fermer</a>
    </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js" integrity="sha512-UOJe4paV6hYWBnS0c9GnIRH8PLm2nFK22uhfAvsTIqd3uwnWsVri1OPn5fJYdLtGY3wB11LGHJ4yPU1WFJeBYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js" integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/user-dashboard.js') }}">
    </script>
</body>
</html>
