<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contributor Dashboard - Image Bank App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/user-dashboard.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#" class="nav-link" data-target="{{ url_for('static', filename='/components/user/accueil.html') }}">Accueil</a></li>
        <li><a href="#" class="nav-link" data-target="{{ url_for('static', filename='/components/user/images.html') }}">Mes Images</a></li>
        <li><a href="#" class="nav-link" data-target="settings">Règlages</a></li>
        <li><a href="{{ url_for('users_bp.user-logout') }}" class="nav-link" data-target="logout">Déconnexion</a></li>
      </ul>
    </nav>
  </header>

  <div id="content" class="container">
    <!-- Dynamic content here -->
  </div>

  <div id="modal1" class="modal modal-image">
    <div class="modal-content">
      <img style="display: none" id="previewImage" src="#" alt="Image Preview">
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat close-confirm">Fermer</a>
    </div>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/user-dashboard.js') }}">
    </script>
</body>
</html>
