<div id="search-bar">
    <nav>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s3">
                  <input id="format" type="text" class="validate">
                  <label for="format">Format</label>
                </div>
                <div class="input-field col s3">
                  <input id="resolution" type="text" class="validate">
                  <label for="resolution">Résolution</label>
                </div>
                <div class="input-field col s3">
                    <input id="payant" type="text" class="validate">
                    <label for="payant">Payant</label>
                </div>
                <div class="input-field col s3">
                    <input id="mode" type="text" class="validate">
                    <label for="mode">Mode</label>
                </div>
            </div>
        </form>
    </nav>
</div>

<div class="image-grid">
    <!-- Image Cards -->
</div>

<div id="pagination-bloc"style="margin-top: 20px">
    
</div>