<div>
<div id="search-bar">
    <nav>
        <form id="search-form" class="col s12">
            <div class="row" style="padding-left: 7px; padding-right: 7px">
                <div class="input-field col s3">
                    <select id="format-select">
                        <option value="" disabled selected>Choisissez le format</option>
                        <option value="JPEG">JPEG</option>
                        <option value="PNG">PNG</option>
                        <option value="GIF">GIF</option>
                        <option value="BMP">BMP</option>
                        <option value="WEBP">WEBP</option>
                        <option value="Autre">Autre</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <select id="resolution-select">
                        <option value="" disabled selected>Choisissez la résolution</option>
                        <option value="faible,480000,0">Faible < (800x600)</option>
                        <option value="moyenne,480000, 2073600">Moyenne (800x600 à 1920x1080)</option>
                        <option value="haute,2073600,0">Haute > (1920x1080) </option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <div>
                        <label>
                            <input id="pay-check" style="background-color: none;" class="filled-in" type="checkbox" />
                            <span style="color:white;">Payant ?</span>
                        </label>
                    </div>
                </div>
                <div class="input-field col s3">
                    <select id="mode-select">
                        <option value="" disabled selected>Choisissez le mode</option>
                        <option value="PORTRAIT">Portrait</option>
                        <option value="PAYSAGE">Paysage</option>
                    </select>
                </div>
            </div>
        </form>
    </nav>
</div>

<div class="image-grid">
    <!-- Image Cards -->
</div>

<div id="pagination-bloc"style="margin-top: 20px">
    
</div>
</div>